@font-face {
    font-family: GoogleSans-Medium; 
    src: url('../fonts/GoogleSans-Medium.woff'); 
}
*{
    box-sizing: border-box;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    overflow-y: hidden;
}